.add-news {
    border: none;
    font-family: rubik,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background: #08beab;
    border-radius: 5px;
    padding: 9px 10px;
    -webkit-transition: .5s;
    transition: .5s;
}