.login-btn{
    border: 1px solid #fffefe !important;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    line-height: 25.2px;
    /* margin: 32px 75px 0; */
    margin-left: 30px;
    padding: 10px 5px 10px 0;
    width: 135px;
    background: #95001d !important;
    font-weight: 500;
}

.invalid-feedback{
    color: rgb(158, 37, 37);
}
.nav-collapse.pull-right{
    flex: 1;
    background: transparent;
    display: flex;
    justify-content: space-between;
}